.sendForm {
    display: flex;
    gap: 45px;
    padding-top: 55px;
    align-items: end;
}

.textarea {
    display: inline-block;
    width: 100%;
    resize: none;
    overflow: hidden;
    background-color: #F5F7FB;
    border: none;
    border-radius: 20px;
    padding: 11px 24px;
    font-size: 14px;
    line-height: 17px;
}

.button {
    background: #0066CC;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 40px;
    height: 40px;
}

.button:hover {

}

.button:active {

}
