.inputBlock {
    display: flex;
    justify-content: center;
}

.inputBlock button {
    align-self: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}


